<% if user_signed_in? %>
    <div class="page-header center text">
    <h3 class="">Hello <strong><%= current_user.username %></strong></h3>
    <button class="btn btn-danger"><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></button>
      <button class="btn btn-success"><%= link_to "Edit profile", edit_user_registration_path, :method => :get %></button>
    </div>
<% else %>
    <div class="center-text">
      <h1> Welcome guest, please sign up or sing in</h1>
      <button class="btn btn-primary"><%= link_to "Sign In", new_user_session_path, :method => :get %></button>
      <button class="btn btn-success"><%= link_to "Sign up", new_user_registration_path, :method => :get %></button>
    </div>

<% end %>